{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<style>
    body{
        background-color: rgb(147, 146, 146);
    }
</style>

{% load crispy_forms_tags %}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <div class="alert alert-warning" role="alert">
              {{ message }}
          </div>
        {% endfor %}
    </ul>
  {% endif %}
  <div class="container py-5 mt-4">
    <h4 style="color:white">Add New Blog</h4>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary mt-4" type="submit">Add</button>
    </form>
  </div>
{% endblock %}